<div class="jumbotron">
  <div class="container">
    <h1>DTLA Hands</h1>
    <h3>A posting resource board for the downtown LA community</h3>
    </p>
  </div>
</div>

  <ul>

   <% @events.each do |event| %>
    <li><%= event.title %></li>
    <li><%= event.location %></li>
    <li><%= event.date_time %></li>
    <li><%=link_to nil,"#{event.ext_url}"%></li>
    <li><img src="<%= event.image_url %>"></li>
   <% end %>
 </ul>
  
</div>

