<div class="jumbotron">
  <div class="container">
    <h1>DTLA Hands</h1>
    <h3>A posting resource board for the downtown LA community</h3>
    </p>
  </div>
</div>

  <ul>
<<<<<<< HEAD
   <% @events.each do |band| %>
    <li><%= event.title %></li>
    <li><%= event.location %></li>
    <li><%= event.date_time %></li>
    <li><%=link_to nil,"#{event.ext_url}"%></li>
    <li><img src="<%= event.image_url %>"></li>
   <% end %>
 </ul>
  
</div>

=======
    <% @events.each do |event| %>
      <li><%= link_to event.title %></li>
    <% end %>
  </ul>

</div>
>>>>>>> 24b10d164069f5a4fd0b15f77265fba20cafea81
