<div class="container">

    <div class="masthead row">

        <div class="col-sm-6">
          <h1>DTLA Hands</h1>
        </div>

        <div class="col-sm-6">
          <a href="/events">
            <button type="button" class="btn btn-danger"> Cancel </button>
          </a>
        </div>

    </div>




  <%= form_for @event do |f| %>
  <ul class="list-unstyled">
    <li> <%= f.text_field :title , :placeholder => "Event Title" %> </li>

    <li> <%= f.text_field :location , :placeholder => "Location" %> </li>

    <li> <%= f.text_field :content , :placeholder => "Event Details (200 character min)" %> </li>

    <li class="large-tex-box"> <%= f.text_field :ext_url , :placeholder => "Info website URL" %> <li>

    <li> <%= f.text_field :image_url , :placeholder => "Image Link" %> <li>

    <li> <%= f.file_field :image_url %>


    <% end %>


</div>

